@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --main-clr: aquamarine
}

.active {
    cursor: not-allowed;
    background-color: #111827;
}

body {
    background-color: #111827;
    /* color: #ff539a; */
    /* color: #6f64ff;  */
    /* color: #7fffd4; */
}

.container {
    section {
        background-color: #11182793;
    }
}

mark {
    background-color: aquamarine;
    padding: .2rem .4rem;
    border-radius: 4px;
    font-weight: 800;
}

[data-info='user-welcome'] {
    display: flex;
    align-items: center;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotar {
    animation: girar 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
}

/* .hide-content {
    display: none;
} */