body {
    height: 100dvh;
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(32, 49, 67, 0.85), rgba(0, 4, 7, 0.85)), url('../img/band/bg-band.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}